.logo {
    width: 35%;        
    max-width: 90%;      
    height: auto;       
    display: block;  
    margin: 0 auto 1em auto;
  }

.label {
    margin-top: 1.25em;
}


.navbar-item img { 
    max-height: 4em; 
    max-width: auto; 
}

.navbar-item.is-active {
    color: #9b1e27
}